# Project
runtime/app.mjs
runtime/server.mjs

# Compiled output
node_modules
__sapper__
dist

# Package managers
package-lock.json
yarn.lock

# vsCode
.vscode/settings.json

# Related to macOS
.DS_Store